.fixed {
  /* 위치 */
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;

  /* 색상 */
  background-color: #495057;
  color: white;

  /* 글꼴 */
  font-size: 2.5rem;

  /* 기타 */
  cursor: pointer;

  /* 디스플레이 */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 테두리 */
  border-radius: 6rem;
}

.fixed:hover {
  background-color: #343a40;
}
