/* Header 스타일 */

.header {
  /* flexbox 설정 */
  display: flex;

  /* 크기 */
  height: 4rem;

  /* 수직, 수평 정렬 */
  justify-content: center;
  align-items: center;

  /* 색상 */
  background-color: #495057;
  color: white;

  /* 글꼴 */
  font-weight: bold;
  font-size: 2rem;

  /* 그림자 */
  box-shadow: 0.2px 0.2px 5px #555;

  /* 기타 설정 */
  cursor: pointer;
  position: relative;
}

.toggle {
  position: absolute;
  left: 1rem;
  transition: all 0.5s;
}

.toggle:hover {
  transform: scale(1.1);
}
