.control {
  border: none;
  width: 100%;
  outline: none;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.controlwrapper {
  display: flex;
}

.controlbtn {
  flex: 1;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  background-color: #fa5252;
  color: white;
}
