/* 메모 리스트 애니메이션 */

.init-enter {
  opacity: 0.01;
}

.init-enter.init-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.init-leave {
  opacity: 1;
}

.init-leave.init-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
