.navwrapper{
  /* 위치 지정 */
  position: fixed;
  top: 0;
  left: 0;

  /* 기타 */
  z-index: 9999;
}

.nav {
  /* 크기 지정
    nav 크기와 높이를 가져야...
  */

  width: 250px;
  height: 100vh;
  background-color: white;
}


/* 애니메이션 효과 */

.slider-enter {
    animation: slideRight .5s ease-in-out;
    animation-fill-mode: forwards;
}

.slider-leave {
    animation: slideLeft .5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideRight {

  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 250px;
  }
}

@keyframes slideLeft {
  from {
    opacity: 1;
    width: 250px;
  }

  to {
    opacity: 0;
    width: 0;
  }
}
